body{
    background-color:  rgba(215, 137, 34, 0.46);
    background-repeat: round;
    background-size: cover;
    

}
h1{color: rgb(9, 75, 133);}
h1{text-align: center;}
#Out_1{
    color: rgb(14, 105, 185);
}
#Out_2{
    color: rgb(9, 145, 81);
}
